#printable_div{
    margin-left:15%;
}

@media print{
  body{ background-color:#FFFFFF; background-image:none; color:#000000 }
  #ad{ display:none;}
  #leftbar{ display:none;}
  #printable_div{ width:100%;}
  #Header, #Footer { display: none !important; }
}
